extends ../layout 

//- 프로젝트 상세 설명
block content
  .container 
    form(action="#", method="post")
      h1.text-center.mt-5 프로젝트 상세보기

      div.card-group 
        .card
          .card-body 
            h4 프로젝트명
            p.name(id="project" value=`${project.project_no}`)= project.project_name
            h4 프로젝트 설명
            p.details= project.description
            h4 프로젝트 담당자
            p.PM= project.pm_no
            h4 거래처
            p.client= project.Customer.customer_name
            h4 투입 직원
            each employee in project.project_emp
              h6.employee
                strong= employee.name
              p.duty 직무: FrontEnd
            h4 진행 상태
            p.status= project.state

            div(id="chart_div")
          
            if(authorization == 1)
              a.btn.btn-outline-warning.mr-3(href=`/management/proejct/${project.project_no}?_method=PUT`) 프로젝트 수정
              a.btn.btn-outline-danger(href=`/management/project/${project.project_no}?_method=DELETE`) 프로젝트 삭제
            a.btn.btn-outline-dark(href="/projects/" class="btn btn-outline-dark" style="float: right") List로 돌아가기
            
      script(src='https://unpkg.com/axios/dist/axios.min.js')
      script(src='/gantt.js')
