extends ../layout

//- 직원 조회 페이지
block content
  .container
    form(action="/detailEmployee", method="post")
    h1.text-center.mt-5 직원 Information

    div.card-group 
        .card
            .card-body 
                h6 이름
                p.name
                    strong= employee.name
                h6 사번
                p.nu
                    strong= employee.emp_no
                h6 부서
                p.dept
                    strong= employee.Department.dept_name
                h6 권한
                if(employee.authorization_no == 0)
                    p.author 
                        strong 일반
                else 
                    p.author 
                        strong 경영진
                h6 skill 
                each skill in employee.emp_skill
                    p.skill
                        strong= skill.skill_name
                
                if(authorization == 1)
                    a.btn.btn-outline-danger.mr-3(href=`/employee/delete/${employee.emp_no}?_method=DELETE`) 직원 삭제
                 
                    if(employee.authorization_no == 0)
                        a.btn.btn-outline-warning(href=`/employee/setAuthorization/${employee.emp_no}?_method=PUT`) 경영진 권한 부여하기

                a.btn.btn-outline-dark(href="/employee/inquiry" class="btn btn-outline-dark" style="float: right") List로 돌아가기